---
layout: default
---

{% include /functions/print-teacherbuttons.html myArtefact=page %}

{% assign stakeholder = site.stakeholders | where: "acronym", page.stakeholder | first %}

{% include /functions/print-page-navigation.html myArtefact=page %}
{% include /functions/get-artefact-name.html myArtefact=page myIdFormat="postfix" %}

<h1>{{ artefactName }}</h1>

<dl>
    {% include /functions/print-authors.html page=page %}

    <dt>Stakeholder</dt>
    <dd>{{ stakeholder.name }}</dd>

    {% include /functions/print-history.html myArtefact=page %}
    {% include /functions/checks/check-interview.html myArtefact=page %}
    {% include /functions/print-detailed-check-messages.html errors=errorString warnings=warningString todos=page.todo %}
</dl>


{{ page.content }}
